@import "./style/colors";
@mixin flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#App {
  background: $app-background;
  height: 100%;
  font: $font-stack;
  color: $fg-1;
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  color: $fg-1;
}

.left-nav {
  padding: 2vh 0 0 5vw;
  font-size: 80%;
}

.form-button {
  width: 6em;
  height: 2em;
  margin: 0.5em;
  outline: 1px solid $fg-1;
  font-size: 1em;
}

.form-one {
  input {
    &[type="number"] {
      height: 5vh;
      align-self: end;
      font: 100% $font-stack;
      text-align: center;
      background: none;
      color: $fg-1;
      border: none;
      border-bottom: 1px solid $fg-1;
      margin: 0 30px 0 1em;
    }
    &::placeholder {
      color: rgba(255, 255, 255, 0.5);
    }
    &:active,
    &:focus,
    &:hover {
      outline: none;
      background: rgba(255, 255, 255, 0.1);
    }
  }
}

.arrow-button {
  font: 200% $font-stack;
  line-height: 0.5;
  color: $fg-1;
  padding: 0;
  background: none;
  border: none;
  &:focus {
    outline: none;
  }
}

.button-underline {
  font: 100% $font-stack;
  color: $fg-1;
  border: none;
  border-bottom: 1px solid $fg-1;
  background: none;
  padding: none;
}

#recent-activity {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $fg-1;
}

#login-screen {
  @include flex-column-center;
  font: 100% $font-stack;
  height: 100%;
  form {
    @include flex-column-center;
    justify-content: space-around;
    align-items: flex-end;
    height: 20vh;
    padding: 0;
  }
  .arrow-button {
    text-align: right;
  }
  input {
    font: 100% $font-stack;
    text-align: center;
    color: $fg-1;
    background: none;
    border: none;
    border-bottom: 1px solid white;
    &::placeholder {
      color: rgba(255, 255, 255, 0.6);
    }
    &:active,
    &:hover {
      outline: none;
      background: rgba(255, 255, 255, 0.1);
    }
  }
}

.upper-left {
  align-self: start;
  justify-self: start;
  margin-left: 5vw;
  margin-top: 2vh;
}

.upper-right {
  align-self: start;
  justify-self: end;
  margin-right: 5vw;
  margin-top: 2vh;
}

h2 {
  color: white;
}

.grid-right {
  justify-self: end;
}

.grid-left {
  justify-self: start;
}

.blurred {
  filter: blur(2px) brightness(0.5) grayscale(0.3);
}
