@import "../../style/colors";

#dashboard {
  font: 150% $font-stack;
  display: grid;
  grid-template-rows: 5% 1fr 5%;
  height: 100%;
}

#dashboardMenu {
  display: flex;
  flex-direction: column;
  width: 100vw;
  align-items: center;
  justify-content: space-around;
  padding: 25vh 0 25vh 0;
}

.menuButton {
  font-size: 2rem;
  width: 80vw;
  max-width: 500px;
  height: 4rem;
}

#logoutButton {
  background: none;
  width: min-content;
  border: none;
  font-size: 1.2rem;
  margin-left: 20px;
  outline: none;
  transition: 0.1s;
}

.loggingOut {
  color: rgba(255, 255, 255, 0.4);
}
