@import "../../style/colors";

#singleMeasurementView {
  height: 100%;
  background: hsl(
    var(--app-background-hue),
    var(--app-background-saturation),
    var(--app-background-lightness)
  );
  width: 100%;
  display: grid;
  grid-template-rows: 5% min-content 1fr 1fr;
  justify-items: center;
}

.backButton {
  background: none;
  border: none;
  font-size: 2rem;
  line-height: 0.5;
  margin-left: var(--nav-left-margin);
  margin-top: var(--nav-top-margin);
}

.upperLeft {
  justify-self: start;
}

.liftTitle {
  font-size: 190%;
  width: 70%;
  max-width: 400px;
  margin: 0 0 1rem 0;
  padding: 0 1rem 0 1rem;
  text-align: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.graphArea {
  height: 100%;
  width: 90%;
  max-width: 750px;
  background: rgba(0, 0, 0, 0.2);
  padding: 1rem 1rem 0 0.5rem;
}
#e1rmTable {
  margin-top: 1rem;
  padding: 1rem;
  font-size: 1.2rem;
  table-layout: fixed;
  border-spacing: 1rem 0.3rem;
  border: 1px solid rgba(255, 255, 255, 0.5);
  th {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    padding: 0 0.5rem 0.2rem 0.5rem;
  }
  td {
    text-align: center;
  }
}

#loadingMessage {
  grid-row-start: 3;
  align-self: end;
}
