@import "../../style/colors";

#measurementForm {
  display: grid;
  width: 80vw;
  max-width: 300px;
  grid-template-rows: 1fr 1.5fr;
  grid-template-columns: repeat(6, minmax(0, 1fr));
}

.button {
  grid-column: span 3;
  align-self: end;
  justify-self: center;
  font-size: 1.3em;
  width: 90%;
}

.measurementFormLabel {
  grid-column: span 2;
  justify-self: end;
  align-self: end;
}

#measurementInput {
  grid-column: span 4;
  align-self: end;
  margin-top: 10px;
}
