@import "../../style/colors";

#confirmExit {
  width: 5em;
  font-size: 1.2rem;
}

#cancelExit {
  width: 5em;
  font-size: 1.2rem;
  background: adjust-color($fg-red, $alpha: -0.3);
}

#exitMenu {
  width: 80vw;
  max-width: 300px;
  margin: 1em;
  display: grid;
  grid-template-rows: repeat(2, auto);
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
}
