@import "../../style/colors";

#newLift {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 80vw;
  max-width: 300px;
  margin: 5px;
  > .button-one {
    width: 7em;
    height: 2em;
    margin: 5px;
    justify-self: center;
    padding: 0;
  }
}

#liftOptions {
  display: flex;
  grid-column: 1 / 3;
  flex-direction: column;
  margin-bottom: 10px;
}

.option {
  background: rgba(0, 0, 0, 0.2);
  margin: 5px 2px 5px 2px;
  padding: 5px;
  width: 80%;
  align-self: center;
  font-size: 120%;
  transition: 0.2s;
}

.button {
  font-size: 1.3rem;
}

#cancelButton {
  background: adjust-color($fg-red, $alpha: -0.4);
}

.input {
  appearance: none;
}

.selected {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  transform: scale(1.02, 1.1);
  transition: 0.2s;
}
