@import "../../style/colors";

#setForm {
  width: 80vw;
  max-width: 300px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-row-gap: 10px;
  margin: 10px 0 10px 0;
  input {
    font-size: 100%;
    text-align: center;
    background: none;
    border: unset;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    &:active,
    &:focus {
      background: rgba(255, 255, 255, 0.2);
      outline: none;
    }
  }
}

.inputSection {
  grid-column: span 2;
  display: flex;
  justify-content: center;
  label {
    margin-right: 5px;
    width: 65px;
    text-align: end;
  }
}

.button {
  width: 100px;
  justify-self: center;
  font-size: 1.2rem;
}

#cancelButton {
  --button-one-background: rgba(240, 93, 94, 0.65);
  --button-one-background-hover: rgba(240, 93, 94, 0.85);
}
