@import "../../style/colors";

#times-modal {
  top: unset;
  right: unset;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  box-shadow: -2px 5px 2px 1px rgba(255, 255, 255, 0.1);
  .upper-right {
    align-self: unset;
  }
}

#set-modal {
  display: flex;
  flex-direction: column;
}

#lift-history-button {
  align-self: end;
  font-size: 1.5em;
  grid-column: 2 / 3;
  grid-row-end: 5;
  padding: 10px;
  margin: 10px;
}

#times-toggle {
  grid-column-start: 1;
  grid-row-start: 4;
  align-self: end;
  justify-self: start;
  margin: 0 0 1em 1em;
  &:focus {
    outline: none;
  }
}

#finish-button {
  grid-column-end: 4;
  width: max-content;
  padding: 0.5em;
}

#exit-button {
  width: max-content;
  padding: 0.5em;
}

.cancel-button {
  background: rgba(240, 93, 94, 0.5);
}
