@import "../../style/colors";

#viewDataMenu {
  height: 100%;
  background: hsl(
    var(--app-background-hue),
    var(--app-background-saturation),
    var(--app-background-lightness)
  );
  width: 100%;
  display: grid;
  grid-template-rows: 5% min-content minmax(min-content, 1fr) 15%;
}

.backButton {
  background: none;
  border: none;
  font-size: 2em;
  line-height: 0.5;
  margin-left: 20px;
  margin-top: 10px;
}

.menuHeader {
  font-size: 2rem;
  border-bottom: 1px solid $fg-1;
  margin: 1rem 0 0 0;
  padding-left: 1rem;
  width: 100%;
}

.dataSelectionMenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 85vw;
  max-width: 700px;
  justify-self: center;
}

.dataSelectionList {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  margin: 1rem 0 0 0;
  width: 100%;
  padding: 0;
  li {
    width: 80%;
    max-width: 400px;
  }
  button {
    background: rgba(255, 255, 255, 0.15);
    border: 1px solid rgba(0, 0, 0, 0.3);
    padding: 0.2rem;
    width: 100%;
    margin: 0.2rem;
    font-size: 1.5rem;
    align-self: center;
  }
}

#graphMultipleButton {
  background: rgba(255, 255, 255, 0.15);
  border: 1px solid rgba(0, 0, 0, 0.3);
  height: 4rem;
  padding: none;
  justify-self: center;
  h2 {
    margin: 0;
    font-weight: normal;
  }
}
