@import './colors';

#new-lift {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  margin: 5px;
  > .button-one {
    width: 7em;
    height: 2em;
    margin: 5px;
    justify-self: center;
    padding: 0;
  }
}

.lift-option {
  display: flex;
  align-items: center;
  grid-column: 1 / 3;
  background: rgba(0, 0, 0, .2);
  margin: 2px;
  padding: 2px;
  font-size: 120%;
}

input {
  appearance: none;
}

.selected {
  background: rgba(255, 255, 255, .2);
  height: 2.5em;
}


