@import './colors';

#single-measurement-view {
  height: 100%;
  display: grid;
  grid-template-rows: 5% min-content 1fr 1fr;
  justify-items: center;
}

.lift-title {
  font-size: 190%;
  width: 70%;
  margin: 0 0 1rem 0;
  padding: 0 1rem 0 1rem;
  text-align: center;
  border-bottom: 1px solid rgba(255, 255, 255, .5)
}

.graph-area {
  height: 100%;
  width: 90%;
  background: rgba(0, 0, 0, .2);
  padding: 1rem 1rem 0 .5rem;
}
#e1rm-table {
  margin-top: 1rem;
  padding: 1rem;
  font-size: 1.2rem;
  table-layout: fixed;
  border-spacing: 1rem .3rem;
  border: 1px solid rgba(255, 255, 255, .5);
  th {
    border-bottom: 1px solid rgba(255, 255, 255, .5);
    padding: 0 .5rem .2rem .5rem;
  }
  td {
    text-align: center;
  }
}
