@import './colors';

#times-modal {
  bottom: unset;
  left: unset;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  
  .upper-right {
    align-self: unset;
  }
}

#set-modal {
  display: flex;
  flex-direction: column;
}

#lift-history-button {
  align-self: end;
  font-size: 1.5em;
  grid-column: 1 / 3;
  padding: 10px;
  margin: 10px;
}

