@import './colors';

#times-modal {
  bottom: unset;
  left: unset;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  box-shadow: -2px 5px 2px 1px rgba(255, 255, 255, .1);
  .upper-right {
    align-self: unset;
  }
}

#set-modal {
  display: flex;
  flex-direction: column;
}

#lift-history-button {
  align-self: end;
  font-size: 1.5em;
  grid-column: 1 / 4;
  grid-row-end: 5;
  padding: 10px;
  margin: 10px;
}

#times-toggle {
  grid-column-end: 4;
}
