@import "../style/colors";

.modal-background {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 2;
  top: 0;
}

.modal {
  height: max-content;
  width: max-content;
  background: hsl(
    var(--app-background-hue),
    var(--app-background-saturation),
    var(--app-background-lightness)
  );
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.4);
  border-radius: 3px;
}

.modal-message {
  grid-column: 1 / 3;
  margin-top: 0;
}

#close-modal-button {
  background: none;
  border: none;
  font: 150% $font-stack;
  padding: 9px;
  color: $fg-1;
}
