@import "../style/colors";

#authenticating-screen {
  height: 100%;
  width: 100%;
  background: hsl(
    var(--app-background-hue),
    var(--app-background-saturation),
    var(--app-background-lightness)
  );
  display: flex;
  align-items: center;
  justify-content: center;
}
