@import './colors';

.rest-timer {
  font: 100% $font-stack;
  color: $fg-1;
  margin: 20px 20px 0 20px;
}

#rest-finished {
  background: rgba(240, 93, 94, 1);
  padding: 5px;
  margin-bottom: 5px;
}

