@import './colors';

#times-display {
  display: grid;
  grid-template-rows: max-content auto(1fr);
}

.times-title {
  margin-bottom: 10px;
  justify-self: start;
  margin: 0 0 1em 1em;
}
.timer {
  margin: 8px;
  align-self: end;
}
